<!-- <header class="shadow-md">
    <nav class="max-w-6xl mx-auto py-3">
        <ul class="flex gap-2">
            <li>
                <a routerLink="/">Home</a>
            </li>

            <li class="ml-auto">
                <a class="bg-slate-800 text-slate-50 px-3 py-2 shadow-sm rounded-sm" routerLink="movies">movies</a>
                </li>
                <li>
                <a class="bg-slate-800 text-slate-50 px-3 py-2 shadow-sm rounded-sm" routerLink="gallery">Gallery</a>
            </li>

            <li>
                <a class="bg-slate-800 text-slate-50 px-3 py-2 shadow-sm rounded-sm" routerLink="casts">casts</a>
            </li>

            <li>
                <a class="bg-slate-800 text-slate-50 px-3 py-2 shadow-sm rounded-sm" routerLink="songs">songs</a>
            </li>

    
        </ul>
    </nav>
</header>


<div class="max-w-6xl mx-auto py-3">
    <router-outlet></router-outlet>
</div> -->

<!-- <app-parent></app-parent> -->

<div class="flex flex-wrap justify-center gap-3">

    <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <app-card>
            <h1 myTitle class="text-lg text-gray-700 font-bold">Go Yoon Jung</h1>
            <p body class="text-sm text-gray-500 leading-6">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate odio error temporibus non dolorum eos facilis quas itaque nemo explicabo labore nam ducimus dolore aperiam impedit ex, cumque tempora? Asperiores.
            </p>
        </app-card>
    </div>

</div>