<form class="p-10" [formGroup]="profile" (ngSubmit)="onSubmit()">
  <h3 class="uppercase font-bold">Personal Info</h3>

  <div class="mb-3">
    <label for="name">Full Name</label>
    <input
      type="text"
      class="w-full border rounded p-2"
      formControlName="name"
    />
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input
      type="email"
      class="w-full border rounded p-2"
      formControlName="email"
    />
  </div>

  <h3 class="uppercase font-bold">Address</h3>

  <div formGroupName="address">
    <div class="mb-3">
      <label for="street">Street</label>
      <input
        type="text"
        name="street"
        id="street"
        class="w-full border rounded p-2"
        formControlName="street"
      />
    </div>
  </div>

  <div class="mb-3">
    <button class="px-3 py-2 bg-indigo-400 text-slate-50 rounded-sm">
      Submit
    </button>
  </div>
</form>

<div class="mt-6 p-2 shadow-sm">
  {{ profile.value | json }}
</div>
