<section class="flex justify-between gap-6">
    <div *ngFor="let item of gallery" class="shadow-md rounded p-2">
    <a routerLink="{{item.id}}">
        <img [src]="item.image" alt="Go Yoon Jung"
            class="object-cover"> </a>
        <div class="flex justify-between items-center py-2">
            <p class="font-medium text-base text-gray-600 ">
                {{item.title}}
            </p>
            <button class="bg-red-600 text-white text-sm uppercase p-2 rounded-md">Love</button>
        </div>
   
    </div>
</section>

<!-- <app-gallery-detail></app-gallery-detail> -->